html, input, button {
  font-size: calc(max(1em, (1vh + 1vw) / 2));
}
body.app-view {
  margin: 0px;
}
body.app-view iframe {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.app-title {
  background-color: #ccc;
  padding: 1em;
  height: 3em;
}

.app-title .name {
  display: inline-block;
  margin-top: 1em;
}

.app-title .buttons {
  display: inline-block;
  float: right;
  margin-top: 1em;
}

.app-pane {
  position: absolute;
  top: 5em;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.app {
  display: inline-block;
  padding: 1em;
}

.app .name {
  margin-top: 0.5em;
  text-align: center;
}

.app .icon {
  width: 128px;
  height: 128px;
  margin: 0px;
}
.app button.app-icon {
  background-color: none;
  border: 2px solid black;
  padding: 0px;
  width: 132px;
  height: 132px;
}

.info {
  text-align: center;
  margin: 2em;
}

.space-chat {
  width: 25%;
  min-width: 150px;
  min-height: 400px;
  max-height: 80%;
  overflow-y: scroll;
  padding: 1em;
  margin-top: 1em;
}

.space-chat .details {
  background-color: #ddd;
  margin-top: 1em;
}

.create-space {
  margin: auto;
  max-width: 100ex;
  text-align: center;
}

.create-space input[name="name"] {
  width: calc(100% - 3ex);
  padding: 1ex;
  margin-right: 2ex;
}

.create-space button {
  margin-top: 1em;
  padding: 1em;
}

.create-space button.de-emphasize {
  cursor: pointer;
  border-width: 0px;
  background-color: transparent;
  text-decoration: underline;
}

button.edit {
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
  font-size: 1em;
  padding: 0.5em;
}

form.edit-name {
  display: inline-block;
}

button.upload {
  background-color: #777;
  color: #fff;
  padding: 1ex;
  border: 2px solid #444;
  border-radius: 1.5ex;
  text-align: center;
  font-weight: bold;
  width: 3em;
  font-size: 0.6em;
  margin-left: 1em;
}
button.upload:active {
  background-color: #555;
  border: 2px solid #222;
}
